.HTML {
    color: #D84A24;
}

.CSS {
    color: #0365B7;
}

.Javascript {
    color: #EBD41B;
}

.ReactJS {
    color: #5ACBEC;
}

.Tailwind {
    color: #34B3EC;
}

.Bootstrap {
    color: #7A10ED;
}

.GSAP {
    color: #81C405;
}

.JQuery {
    color: #0962A3;
}

.NodeJS {
    color: #679F63;
}

.MongoDB {
    color: #00ED64;
}

.API {
    color: #B44E07;
}